{
  "env": {
    "jest": true,
    "browser": true,
  },
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],

  "extends": ["@internxt/eslint-config-internxt", "plugin:storybook/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "max-len": [
      "error",
      {
        "code": 120,
        "tabWidth": 2,
        "comments": 120,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true,
      },
    ],
    "linebreak-style": "off"
  },
}
