.modal-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(30, 30, 30, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 150ms ease-out;
}

.modal-content {
  border-radius: 0.5rem; /* Cambiar según tu diseño */
  background-color: #1e1e1e; /* Cambiar según tu diseño */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 150ms ease-out,
    opacity 150ms ease-out;
}

.modal-inner {
  max-width: 100%;
  margin: auto;
}
