@import url('tailwindcss');

@theme {
  --color-surface: rgb(var(--color-surface-rgb));
  --color-highlight: rgb(var(--color-highlight-rgb));
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-dark: rgb(var(--color-primary-dark-rgb));
  --color-red: rgb(var(--color-red-rgb));
  --color-red-dark: rgb(var(--color-red-dark-rgb));
  --color-orange: rgb(var(--color-orange-rgb));
  --color-orange-dark: rgb(var(--color-orange-dark-rgb));
  --color-yellow: rgb(var(--color-yellow-rgb));
  --color-yellow-dark: rgb(var(--color-yellow-dark-rgb));
  --color-green: rgb(var(--color-green-rgb));
  --color-green-dark: rgb(var(--color-green-dark-rgb));
  --color-pink: rgb(var(--color-pink-rgb));
  --color-pink-dark: rgb(var(--color-pink-dark-rgb));
  --color-indigo: rgb(var(--color-indigo-rgb));
  --color-indigo-dark: rgb(var(--color-indigo-dark-rgb));
  --color-gray-1: rgb(var(--color-gray-1-rgb));
  --color-gray-5: rgb(var(--color-gray-5-rgb));
  --color-gray-10: rgb(var(--color-gray-10-rgb));
  --color-gray-20: rgb(var(--color-gray-20-rgb));
  --color-gray-30: rgb(var(--color-gray-30-rgb));
  --color-gray-40: rgb(var(--color-gray-40-rgb));
  --color-gray-50: rgb(var(--color-gray-50-rgb));
  --color-gray-60: rgb(var(--color-gray-60-rgb));
  --color-gray-70: rgb(var(--color-gray-70-rgb));
  --color-gray-80: rgb(var(--color-gray-80-rgb));
  --color-gray-90: rgb(var(--color-gray-90-rgb));
  --color-gray-100: rgb(var(--color-gray-100-rgb));
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;

    --color-primary-rgb: 0 102 255;
    --color-primary-dark-rgb: 0 88 219;
    --color-red-rgb: 255 13 0;
    --color-red-dark-rgb: 230 11 0;
    --color-orange-rgb: 255 149 0;
    --color-orange-dark-rgb: 230 134 0;
    --color-yellow-rgb: 255 204 0;
    --color-yellow-dark-rgb: 230 184 0;
    --color-green-rgb: 50 195 86;
    --color-green-dark-rgb: 45 174 77;
    --color-pink-rgb: 255 36 76;
    --color-pink-dark-rgb: 235 0 63;
    --color-indigo-rgb: 81 78 212;
    --color-indigo-dark-rgb: 60 58 207;
    --color-surface-rgb: 255 255 255;
    --color-highlight-rgb: 17 17 17;
    --color-gray-1-rgb: 249 249 252;
    --color-gray-5-rgb: 243 243 248;
    --color-gray-10-rgb: 229 229 235;
    --color-gray-20-rgb: 209 209 215;
    --color-gray-30-rgb: 199 199 205;
    --color-gray-40-rgb: 174 174 179;
    --color-gray-50-rgb: 142 142 148;
    --color-gray-60-rgb: 99 99 103;
    --color-gray-70-rgb: 72 72 75;
    --color-gray-80-rgb: 58 58 59;
    --color-gray-90-rgb: 44 44 48;
    --color-gray-100-rgb: 24 24 27;
  }

  :root.dark {
    color-scheme: dark;

    --color-primary-rgb: 20 114 255;
    --color-primary-dark-rgb: 0 96 240;
    --color-red-rgb: 255 61 51;
    --color-red-dark-rgb: 255 36 26;
    --color-orange-rgb: 255 164 36;
    --color-orange-dark-rgb: 255 153 10;
    --color-yellow-rgb: 255 214 51;
    --color-yellow-dark-rgb: 255 209 26;
    --color-green-rgb: 72 208 106;
    --color-green-dark-rgb: 52 203 90;
    --color-pink-rgb: 255 71 105;
    --color-pink-dark-rgb: 255 15 80;
    --color-indigo-rgb: 106 103 218;
    --color-indigo-dark-rgb: 85 83 213;
    --color-surface-rgb: 17 17 17;
    --color-highlight-rgb: 255 255 255;
    --color-gray-1-rgb: 24 24 27;
    --color-gray-5-rgb: 44 44 48;
    --color-gray-10-rgb: 58 58 59;
    --color-gray-20-rgb: 72 72 75;
    --color-gray-30-rgb: 99 99 103;
    --color-gray-40-rgb: 142 142 148;
    --color-gray-50-rgb: 174 174 179;
    --color-gray-60-rgb: 199 199 205;
    --color-gray-70-rgb: 209 209 215;
    --color-gray-80-rgb: 229 229 235;
    --color-gray-90-rgb: 243 243 248;
    --color-gray-100-rgb: 249 249 252;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-primary-rgb: 20 114 255;
    --color-primary-dark-rgb: 0 96 240;
    --color-red-rgb: 255 61 51;
    --color-red-dark-rgb: 255 36 26;
    --color-orange-rgb: 255 164 36;
    --color-orange-dark-rgb: 255 153 10;
    --color-yellow-rgb: 255 214 51;
    --color-yellow-dark-rgb: 255 209 26;
    --color-green-rgb: 72 208 106;
    --color-green-dark-rgb: 52 203 90;
    --color-pink-rgb: 255 71 105;
    --color-pink-dark-rgb: 255 15 80;
    --color-indigo-rgb: 106 103 218;
    --color-indigo-dark-rgb: 85 83 213;
    --color-surface-rgb: 17 17 17;
    --color-highlight-rgb: 255 255 255;
    --color-gray-1-rgb: 24 24 27;
    --color-gray-5-rgb: 44 44 48;
    --color-gray-10-rgb: 58 58 59;
    --color-gray-20-rgb: 72 72 75;
    --color-gray-30-rgb: 99 99 103;
    --color-gray-40-rgb: 142 142 148;
    --color-gray-50-rgb: 174 174 179;
    --color-gray-60-rgb: 199 199 205;
    --color-gray-70-rgb: 209 209 215;
    --color-gray-80-rgb: 229 229 235;
    --color-gray-90-rgb: 243 243 248;
    --color-gray-100-rgb: 249 249 252;
  }

  :root:not(.dark) {
    color-scheme: light;

    --color-primary-rgb: 0 102 255;
    --color-primary-dark-rgb: 0 88 219;
    --color-red-rgb: 255 13 0;
    --color-red-dark-rgb: 230 11 0;
    --color-orange-rgb: 255 149 0;
    --color-orange-dark-rgb: 230 134 0;
    --color-yellow-rgb: 255 204 0;
    --color-yellow-dark-rgb: 230 184 0;
    --color-green-rgb: 50 195 86;
    --color-green-dark-rgb: 45 174 77;
    --color-pink-rgb: 255 36 76;
    --color-pink-dark-rgb: 235 0 63;
    --color-indigo-rgb: 81 78 212;
    --color-indigo-dark-rgb: 60 58 207;
    --color-surface-rgb: 255 255 255;
    --color-highlight-rgb: 17 17 17;
    --color-gray-1-rgb: 249 249 252;
    --color-gray-5-rgb: 243 243 248;
    --color-gray-10-rgb: 229 229 235;
    --color-gray-20-rgb: 209 209 215;
    --color-gray-30-rgb: 199 199 205;
    --color-gray-40-rgb: 174 174 179;
    --color-gray-50-rgb: 142 142 148;
    --color-gray-60-rgb: 99 99 103;
    --color-gray-70-rgb: 72 72 75;
    --color-gray-80-rgb: 58 58 59;
    --color-gray-90-rgb: 44 44 48;
    --color-gray-100-rgb: 24 24 27;
  }
}
